<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container">
		<!-- Toggle for mobile -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nomad-navbar-collapse" aria-expanded="false">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Nomad</a>
		</div>

		<!-- Content for dropdown -->
		<div class="collapse navbar-collapse" id="nomad-navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				{% if request.COOKIES.auth %}
				<li>
					<a href="#">
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span> User
					</a>
				</li>
				<li>
					<a href="{% url 'web:auth-logout' %}?next={{request.path}}">Logout</a>
				</li>
				{% else %}
				<li>
					<a href="{% url 'web:users-create' %}">Sign Up</a>
				</li>
				<li>
					<a href="{% url 'web:auth-login' %}?next={{request.path}}">Login</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>