{% extends 'web/__base.html' %}

{% block content %}
	<div class= "container">
        
        <a href="/listings">Click here to see a temporary index of listings (only here until search is implemented)</a>
        <br>

 		<h3>Not all those who wander are lost...</h3>
        <div class="row">
            <div class="navbar-form center-block">
                <form action="listings/search" method="get">
                    <input class="col-md-12 col-xs-10" type="text" name="query" class="form-control" placeholder="Where to?">
                </form>
            </div>
        </div>

    	<h3>Most Recent</h3>
    	<div class="row">
            {% for listing in most_recent_listings %}
            <div class="col-md-4">
                <a href="{% url 'web:listings-detail' listing.id %}" class="image-link">
                    <div class="custom-box" style="background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), url({{ listing.images.0.url_full }})">
                        {{ listing.title }}
                    </div>
                </a>
            </div>
            {% endfor %}
    	</div>
        
    	<h3>Most Popular</h3>
    	<div class="row">
            {% for listing in most_popular_listings %}
            <div class="col-md-4">
                <a href="{% url 'web:listings-detail' listing.id %}" class="image-link">
                    <div class="custom-box" style="background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), url({{ listing.images.0.url_full }})">
                        {{ listing.title }}
                    </div>
                </a>
            </div>
            {% endfor %}
    	</div>
        
	</div>
    
{% endblock %}