{% extends 'web/__base.html' %}

{% block content %}
	<div class= "container">
    	<div class="jumbotron">
    		<h1>Not All Those Who Wander Are Lost</h1>
            <div class="row">
                <div class = "navbar-form center-block" role = "search">
                    <input class= " col-md-12 col-xs-10 " type = "text" class = "form-control" placeholder = "Going on Vacation">
                </div>
            </div>
    	</div>
    	<!-- <h3>Not all that wander are lost</h3> -->
    	<!-- <div class="row">
    		<div class = "navbar-form center-block" role = "search">
    			<input class= " col-md-12 col-xs-10 " type = "text" class = "form-control" placeholder = "Going on Vacation">
    		</div>
    	</div> -->
    	<h3> Wanderlust</h3>
    	<div class="row">
    		<div class="col-md-4">
    			<div class="custom-box" id="item1">AJ</div>
    		</div>
    		<div class="col-md-4">
    			<div class="custom-box" id="item2">Spencer</div>
    		</div>
    		<div class="col-md-4">
				<div class="custom-box" id="item3">Dave</div>
    		</div>
    	</div>
    	<h3>Whatttt????</h3>
    	<div class="row">
    		<div class="col-md-4">
    			<div class="custom-box" id="item4">Dank</div>
    		</div>
    		<div class="col-md-4">
    			<div class="custom-box" id="item5">Memes</div>
    		</div>
    		<div class="col-md-4">
    			<div class="custom-box" id="item6">Testing</div>
    		</div>
    	</div>
	</div>
    
{% endblock %}