{% extends 'web/__base.html' %}

{% block content %}
	<div class= "container">
    	<div class="jumbotron">
    		<h1>Nomad</h1>
    	</div>
    	<h3>Not all that wander are lost</h3>
    	<div class="row">
    		<div class = "navbar-form center-block" role = "search">
    			<input class= " col-md-12 col-xs-10 " type = "text" class = "form-control" placeholder = "Going on Vacation">
    		</div>
    	</div>
    	<h3> Wanderlust</h3>
    	<div class="row">
    		<div class="col-md-4" background-color = "blue">
    			<div class="custom-box">AJ</div>
    		</div>
    		<div class="col-md-4" background-color = "blue">
    			<div class="custom-box">Spencer</div>
    		</div>
    		<div class="col-md-4" background-color = "blue">
				<div class="custom-box">Dave</div>
    		</div>
    	</div>
    	<h3>Whatttt????</h3>
    	<div class="row">
    		<div class="col-md-4" background-color = "blue">
    			<div class="custom-box">Dank</div>
    		</div>
    		<div class="col-md-4" background-color = "blue">
    			<div class="custom-box">Memes</div>
    		</div>
    		<div class="col-md-4" background-color = "blue">
    			<div class="custom-box">TestingTestingTesting</div>
    		</div>
    	</div>
	</div>
    
{% endblock %}