{% extends 'web/__base.html' %}

{% block content %}
<div class="container">
	<!-- Image Carousel -->
	{% if listing.images %}
	<div class="panel panel-default no-margin-bottom">
		<div id="image-carousel" class="carousel slide" data-ride="carousel">
			<!-- Bottom Indicators -->
			<ol class="carousel-indicators">
				{% for image in listing.images %}
					<li data-target="image-carousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.counter0 == 0 %}class="active"{% endif %}></li>
				{% endfor %}
			</ol>

			<!-- Slides -->
			<div class="carousel-inner" role="listbox">
				{% for image in listing.images %}
					<div class="item {% if forloop.counter0 == 0 %}active{% endif %}">
						<img src="{{ image.url_full }}">
					</div>
				{% endfor %}
			</div>

			<!-- Controls -->
			<a class="left carousel-control" href="#image-carousel" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Prev</span>
			</a>

			<a class="right carousel-control" href="#image-carousel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
	{% endif %}

	<div class="row panel-default">
		<div class="panel-body">
			<h1 class="col-md-8">{{ listing.title }}</h1>
			<h1 class="col-md-4">
				<span class="pull-right">${{ listing.price }}</span>
			</h1>
		</div>
	</div>

	<!-- Listing Info -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Info</h3>
		</div>
		<div class="panel-body">
			<div class="col-md-4">
				<b>Address</b><br>
				{{ listing.street }}<br>
				{{ listing.city }}, {{ listing.country }} {{ listing.zipcode }}
			</div>

			<div class="col-md-4">
				<b>Ammenities</b>
				<ul class="list-unstyled">
					<li><span class="glyphicon glyphicon-bed"></span> Bed: {{ listing.beds }} </li>
					<li><span class="glyphicon glyphicon-tint"></span> Baths: {{ listing.baths }}</li>
				</ul>
			</div>

			<div class="col-md-4">
				<img class="media-object profile-image-64" src="{{ listing.user.profile_image.url_full }}">
				{{ listing.user.first_name }} {{ listing.user.last_name }}<br>
				{{ listing.user.email }}
			</div>
		</div>
	</div>

	<!-- Reviews -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Reviews</h3>
		</div>

		<ul class="media-list list-group">
			{% for review in listing.reviews %}
				<li class="list-group-item">
					<div class="media-left">
						<a href="#">
							<img class="media-object profile-image-64" src="{{ review.user.profile_image.url_full }}">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">{{ review.title }}</h4>
						<p>{{ review.comment }}</p>
					</div>
				</li>
			{% empty %}
				<li class="list-group-item">
					This listing has no reviews (yet).
				</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}